#Files that get updated automatically by the data file update script:

data_files/
allCards.json
allRules.json
public_html/allRuleNumbers.js
public_html/searchLinkCardNamesDiff.js
public_html/globalResources/allKeywords.js
public_html/globalResources/allRules.js
public_html/globalResources/allSets.js
public_html/globalResources/allTags.js
public_html/globalResources/searchLinkMappings.js
public_html/question-editor/allCards.js
public_html/question-editor/allRules.js


#Miscellaneous stuff that doesn't need to be tracked:

node_modules/
.DS_Store
