#questionPage {
	margin: auto;
	text-align: center;
}

#questionPage ul {
	list-style-type: none;
}

#question {
	margin-bottom: 2rem;
}

#answer {
	margin-top: 2rem;
}

#questionPageBackgroundBox {
	background-color: white;
	border-color: black;
	border-width: 0.03rem;
	border-style: solid;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	border-bottom-color: #ff8585;
	border-bottom-style: solid;
	border-bottom-width: 0.3rem;
	border-top-color: #ff8585;
	border-top-style: solid;
	border-top-width: 0.3rem;
}

#questionPageBackgroundBox > .specialButtonBlack{
	margin: 0.5rem;
}

#pictures {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cardDisplay {
	margin: 0.5rem;
	overflow: visible;
	display: inline-block;
	position: relative;
}

#answer p {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

/*
Misc.
*/

#picturesUnsorted {
	display: none;
}

/*
Reset
*/

* {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-size: 1rem;
}

p, label, button, a, li {
	font-weight: 100;
}

/*
Reset
*/

#FOUCOverlay {
	z-index: 4;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	opacity: 100;
	background: linear-gradient(white, #d8d8d8);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

html {
	height: 100%;
}

body {
	box-sizing: border-box;
	background: linear-gradient(white, #d8d8d8);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 3.5rem;
	padding-bottom: 3rem;
}

.roundedCorners {
	border-radius: 1rem;
}

#topBanner {
	border-bottom-color: #ff8585 !important;
}

.specialButtonBlack {
	background-color: #ff8585 !important;
}

.specialButtonBlack:hover {
	background-color: #282828 !important;
}

.bannerLeft {
	position: absolute;
	margin-left: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
}

@media only screen and (max-width: 60rem) {
  .bannerText {
    display: none !important;
  }
	.bannerLeft {
		margin-left: 1rem;
	}
	#topBannerRightText {
		margin-right: 1rem;
	}
	#topBannerRightText > * > p {
		display: none;
	}
}

@media only screen and (max-width: 45rem) {
	.bannerLeft {
		transform: translateY(-50%) !important;
	}
}

@media only screen and (max-height: 30rem) {
	#contactFormPopupArea {
		height: 13rem !important;
	}
}

#contactFormBannerText {
	text-align: right;
}

#contactFormBannerText > p {
	display: inline;
	color: white;
}

#contactFormPopupArea {
	height: 20rem;
	width: 15rem;
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	z-index: 2;
	pointer-events: none;
}

#contactFormPopupArea * {
	pointer-events: auto;
}

#contactFormPopup {
	display: none;
	background-color: white;
	height: calc(100% - 0.4rem);
	width: calc(100% - 0.4rem);
	text-align: center;
	filter: drop-shadow(0rem 0rem 0.5rem #474747);
}

#contactFormContent {
	resize: none;
	background-color: white;
	width: 90%;
	height: calc(100% - 7.5rem);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#contactFormEmailField {
	background-color: white;
	width: 90%;
	margin-bottom: 0.7rem;
}

#contactFormSubmissionSuccess {
	display: none;
	background-color: white;
	height: 3rem;
	width: calc(100% - 0.4rem);
	margin-top: 75%;
	text-align: center;
	vertical-align: middle;
	line-height: 3rem;
	filter: drop-shadow(0rem 0rem 0.5rem #474747);
}

#contactFormSubmissionFailure {
	display: none;
	position: relative;
	background-color: red;
	border-color: black;
	height: 9.5rem;
	width: calc(100% - 0.4rem);
	margin-top: 50%;
	text-align: center;
	filter: drop-shadow(0rem 0rem 0.5rem #474747);
}

#contactFormSubmissionFailureCenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0.3rem;
}

#contactFormSubmissionFailureCenter p {
	display: block;
	margin: 0;
	margin-bottom: 0.1rem;
}

#bannerName {
	position: absolute;
	color: white;
	font-weight: 600;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#bannerName0 {
	font-size: 1.9rem;
}

#bannerName1 {
	color: #ff8585;
	font-size: 1.9rem;
}

.bannerImage {
	height: 1.6rem;
}

#generatorPreview {
	position: fixed;
	height: 100%;
	top: 3rem;
	left: 0;
	right: 0;
	background: linear-gradient(white, #d8d8d8);
	background-repeat: repeat-x;
	background-attachment: fixed;
	z-index: 1;
	display: none;
	overflow: scroll;
}

#generatorPictures {
	margin-bottom: 3rem;
}

#generatorPictures .cardDisplay {
	margin: 0.5rem;
	overflow: visible;
	display: inline-block;
	position: relative;
	width: 12rem;
	height: 16.97rem;
}

#generatorPictures .cardDisplay * {
	font-size: 0.8rem;
}

#generatorCount {
	text-align: center;
}

#generatorError {
	text-align: center;
	color: red;
}

#generatorDisplayToggle {
	position: absolute;
	top: 3rem;
	right: 13.5rem;
	z-index: 5;
}

#reloadPreview {
	position: absolute;
	top: 3rem;
	right: 1rem;
	z-index: 5;
}

#questionErrors {
	color: red;
}

#questionWarnings {
	color: darkorange;
}

#extras {
	position: absolute;
	left: 2rem;
	text-align: left;
	top: 3.5rem;
}

#extras p {
	font-weight: bold;
}

#extras span {
	font-weight: 100;
}

#submittedByField, #submittedBy {
	font-size: 0.85rem;
	margin-bottom: 0.5rem;
}

#submittedBy {
	font-weight: bold;
}

#adminAboutLink:hover img {
	content:url("../globalResources/icons/about-hover.png");
}

#rulesLink:hover img {
	content:url("cr-hover.png");
}

#donations, #openContactFormButton, #followLink, #aboutLink {
	display: none !important;
}
