#donations, #openContactFormButton, #followLink, #aboutLink {
	display: none;
}

#editorLink:hover img {
	content:url("editor-hover.png");
}

.styleTypeNone {
	list-style-type: none;
}

.blue {
	color: blue;
}
