h1 {
	text-align: center;
}

#question {
	width: 80%;
	max-width: 30rem;
	height: calc(50vh - 9rem);
	resize: none;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	display: block;
	padding: 0.2rem;
}

#submitButton  {
	display: block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

#name {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 80%;
	max-width: 30rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0.1rem;
}

#attribution {
	text-align: center;
	font-size: 0.7rem;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translate(-50%);
}